html{
    background-color: rgb(48, 60, 70);
    background-size: cover;
}
h1, h2, h3, p{
    margin: 0;
    padding: 0;
    color: rgb(13, 17, 13)
}
nav a{
    color: rgb(247, 246, 246);
}
img{
    width: 35rem;
}
body{
    text-align: center;
}

